<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">
        <meta charset="utf-8">
        <title>All Contacts</title>
    </head>
        <div class="jumbotron">
            <h1>All Contacts in your Address Book</h1>
        </div>
        <div class="container">
                {% for contact in contacts %}
                    <div class="contact_item">
                        <h3>{{ contact.getName }}</h3>
                        <p>{{ contact.getNumber }}</p>
                        <p>{{ contact.getEmail }}</p>
                    </div>
                {% endfor %}

            <form action="/">
                <button class="btn btn-success">Back to Home</button>
            </form>

            <form action="/delete_all" method="post">
                <button class="btn btn-danger">Clear Contact List</button>
            </form>
        </div>
    </body>
</html>
