<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../styles.css">
        <meta charset="utf-8">
        <title>Contact Created</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Contact Successfully Created!</h1>
        </div>
        <div class="container">
            <div class="contact_item">
                <h3>{{ newcontact.name }}</h3>
                <p>{{ newcontact.number }}</p>
                <p>{{ newcontact.email }}</p>
            </div>

            <form action="/">
                <button class="btn btn-success">Back to Home</button>
            </form>
            <form  action="/all_contacts" method="post">
                <button class="btn btn-primary">View All Contacts</button>
            </form>
            <form action="/delete_all" method="post">
                <button class="btn btn-danger">Clear Contact List</button>
            </form>
        </div>
    </body>
</html>
