<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Contacts Cleared</title>
    </head>
    <body>
        <div class="container">
            <h1>Contact list Cleared!</h1>

            <form action="/">
                <button class="btn btn-success">Go back Home</button>
            </form>
            <form  action="/all_contacts" method="post">
                <button class="btn btn-primary">See All Contacts</button>
            </form>
        </div>
    </body>
</html>
