<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../styles.css">
        <meta charset="utf-8">
        <title>Online Address Book Creator</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Online Address Book</h1>
            <h3>Create and store all your contacts online! Just enter a name, number, and email to get started.</h3>
        </div>
        <div class="container">
            <form class="" action="/contact_created" method="post">
                <label for="name">Full Name:</label>
                <input type="text" name="name" value="">

                <label for="number">Phone Number:</label>
                <input type="number" name="number" value="">

                <label for="email">Email Address:</label>
                <input type="email" name="email" value="">

                <button class="btn btn-success" name="button">Add to My Contacts</button>
            </form>
            <br>
            <form class="" action="/all_contacts" method="post">
                <button class="btn btn-primary">View All Contacts</button>
            </form>

            <form action="/delete_all" method="post">
                <button class="btn btn-danger">Clear Contact List</button>
            </form>

            <div class="easter_egg">
                <a href="/easter_egg">click me if u dare</a>
            </div>
        </div>
    </body>
</html>
