body {
    font-family: 'Nunito', sans-serif;
}

.jumbotron {
    padding-left: 100px;
}

.contact_item {
    padding: 1.5em;
    width: 400px;
    border-radius: 8px;
    background-color: #EEE;
    margin: 15px;
}

.contact_item h3 {
    margin-top: 0px;
}

.btn {
    margin: 10px;
}

form {
    display: inline-block;
}

label {
    margin-left: 10px;
}
